<footer>
  <div
    class="items-center px-8 mx-auto py-12 gh:py-24 md:px-12 lg:px-16 xl:px-12 2xl:max-w-7xl"
  >
    <div class="grid grid-cols-2 gap-12 border-y py-1 xl:col-span-5">
      <div class="md:grid md:grid-cols-2 md:gap-8">
        <div>
          <h3 class="text-base text-black font-medium tracking-tight">
            <!--All Pages -->
          </h3>
          <ul role="list" class="mt-4 space-y-1">
            <li>
              <a class="text-xs text-gray-400">
                Copyright © Axle Accounting Inc. 2023. All Rights Reserved.
              </a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h3 class="text-base text-black font-medium tracking-tight">
            <!--All Pages -->
          </h3>
          <ul role="list" class="mt-4 space-y-1"></ul>
        </div>
      </div>
      <div class="mt-12 md:mt-0">
        <h3 class="text-base text-black font-medium tracking-tight">
          <!--All Pages -->
        </h3>
        <ul role="list" class="mt-4 space-y-1">
          <li>
            <a
              href="https://nosixtechnologies.com"
              class="text-xs text-gray-400 hover:text-black"
            >
              Powered by Nosix Technologies Inc.
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
